bird_image_classification.joblib filter=lfs diff=lfs merge=lfs -text
bird_image_classification.h5 filter=lfs diff=lfs merge=lfs -text
bird_image_classification.keras filter=lfs diff=lfs merge=lfs -text
